{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
    <style>
      
.box {
  display: flex;
  background-color: purple;
  justify-content: space-evenly;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
}

.box > div {
  background-color: orange;
  margin: 15px;
  padding: 80px;

}
    
    
    </style>
	</head>
	<body>
		<div class="box">
          <div></div>
          <div></div>
          <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div><div></div><div></div>
        </div>

	</body>
</html>